@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-instrument-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);

  /*primary button*/
  --color-primary-button: var(--primary-button);
  --color-primary-button-hover: var(--primary-button-hover);
  --color-primary-button-active: var(--primary-button-active);

  /*secondary button*/
  --color-secondary-button: var(--secondary-button);
  --color-secondary-button-hover: var(--secondary-button-hover);
  --color-secondary-button-active: var(--secondary-button-active);

  /*destructive*/
  --color-destructive: var(--destructive);
  --color-destructive-button: var(--destructive-button);
  --color-destructive-button-hover: var(--destructive-button-hover);
  --color-destructive-button-active: var(--destructive-button-active);

  /*error*/
  --color-error: var(--error);
  --color-error-hover: var(--error-hover);
  --color-error-active: var(--error-active);

  /*warning*/
  --color-warning-button: var(--warning-button);
  --color-warning-button-hover: var(--warning-button-hover);
  --color-warning-button-active: var(--warning-button-active);

  /*success*/
  --color-success-button: var(--success-button);
  --color-success-button-hover: var(--success-button-hover);
  --color-success-button-active: var(--success-button-active);

  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;

  /* Base background color */
  --background: #FAFAFA;

  /* Base text colors */
  --foreground: #4A4A4A;

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #455561;

  /* Primary button colors */
  --primary-button: #2B5A8C;
  --primary-button-hover: #356EAC;
  --primary-button-active: #22466D;

  /* Secondary button colors */
  --secondary-button: #2B90CA;
  --secondary-button-hover: #46A2D8;
  --secondary-button-active: #2478A8;

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: #46A2D8;
  --accent-foreground: oklch(0.205 0 0);

  /* Destructive button colors */
  --destructive-button: #E23D28;
  --destructive-button-hover: #E75E4B;
  --destructive-button-active: #C52F1B;

  /* Error colors */
  --error: #FF9233;
  --error-hover: #FFA85C;
  --error-active: #FF7C0A;

  /* Warning button colors */
  --warning-button: #FFC847;
  --warning-button-hover: #FFD470;
  --warning-button-active: #FFBC1F;

  /* Success button colors */
  --success-button: #35AC4F;
  --success-button-hover: #44C560;
  --success-button-active: #2B8C40;

  /*border and input colors*/
  --border: #7A7A7A;
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .saved-filters {
    @apply border-t-[1] border-b-[1] border-gray-200 w-screen h-1/2 flex flex-row space-x-0.5 items-center bg-gray-50 text-lg
  }
}

@layer components {
  .filter-button {
    @apply border rounded-md border-gray-200 h-1/2 px-2 flex items-center bg-white text-black text-sm font-medium hover:bg-primary-button-hover hover:text-white active:bg-primary-button active:text-white
  }
}

@layer components {
  .duplicate-button {
    @apply border rounded-md h-1/2 w-full px-2 flex items-center bg-primary-button text-white text-sm font-medium hover:bg-primary-button-hover hover:text-white active:bg-primary-button
  }
}

@layer components {
  .reject-button {
    @apply border border-gray-200 rounded-md h-1/2 w-full px-2 flex items-center bg-white text-black text-sm font-medium hover:bg-primary-button-hover hover:text-white active:bg-primary-button active:text-white
  }
}

@layer components {
  .status-filters {
    @apply border-t-[1] border-b-[1] border-gray-200 px-4 w-full h-24 flex flex-row space-x-2 items-center
  }
}

@layer components {
  .info-card-duplicates {
    @apply border rounded-lg border-gray-200 h-26 w-[30%] px-4 py-6 flex items-center
  }
}

@layer components {
  .potential-duplicate-card-container {
    @apply border-r-2 border-gray-200 w-full h-full flex flex-col items-center overflow-y-auto
  }
}

@layer components {
  .duplicate-reject-buttons {
    @apply w-full h-[10%] flex flex-row items-center px-2 space-x-2
  }
}

@layer components {
  .potential-duplicate-card {
    @apply
    /*min 768*/
    md:w-[85%] md:h-56
    /*min 1024*/
    border rounded-lg border-gray-200 h-48 w-[460] m-2 shrink-0 cursor-pointer
    /*min 1440*/
    xl:w-[85%] xl:h-80
  }
}